.voteUp p, .accept p {
	background: url('../../static/images/thumb_up.png');
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

.voteDown p, .reject p  {
	background: url('../../static/images/thumb_down.png');
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

.delete p {
	background: url('../../static/images/delete.png');
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

.notification {
	font-size: 30px;
	font-family: sans-serif;;
	font: bold;
}