tbody tr .voteUp,tbody tr .accept {
	background: url('../../static/images/thumb_up.png');
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

tbody tr .voteDown,tbody tr .reject {
	background: url('../../static/images/thumb_down.png');
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

tbody tr .delete {
	background: url('../../static/images/delete.png');
	display: block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}

.notification {
	font-size: 30px;
	font-family: sans-serif;
	font: bold;
}

.ideaRow,.mergeRow {
	cursor: hand;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.ideaRow.grabbing,.mergeRow.grabbing {
	cursor: grabbing important!;
}

.multilinecolumn {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
}